<div class="not-found-container">
    <div class="not-found-content">
      <div class="not-found-icon">
        <i class="fas fa-exclamation-circle"></i>
      </div>
      <h1 class="not-found-title">404</h1>
      <p class="not-found-message">¡Oops! La página que buscas no existe.</p>
      <img src="https://freefrontend.com/assets/img/html-funny-404-pages/CodePen-404-Page.gif" alt="gif" style="height: 200px;  width: 250px  text-align-center gap-3 
       pading-right-10">
      <div class="not-found-actions" style="padding-top: 25px;">
        
        <button class="btn btn-primary" routerLink="/home">Volver al Inicio</button>
        </div>
    </div>
  </div>