<div class="container mt-5">
 
  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div *ngIf="product" class="product-card" style="padding-bottom: 35px; padding-top: 35px">
    <div class="row">
      <div class="col-md-6">
        <div class="product-image-container">
          <img [src]="product.image" class="img-fluid product-image" [alt]="product.name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-info">
          <h1 class="product-title">{{ product.name }}</h1>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">Price: <span>${{ product.price }}</span></p>
          <button class="btn btn-primary btn-lg w-100 mb-2" (click)="addToCart()">Añadir al Carrito</button>
          <button  class="btn btn-warning btn-lg w-100 mb-2" (click)="editProduct()">Editar</button>
          <button class="btn btn-danger btn-lg w-100" (click)="deleteProduct()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!product && !error" class="alert alert-info">
    Cargando detalles del producto...
  </div>
</div>