<div class="container mt-4">
  <!-- Botón para agregar un nuevo producto -->
  <div class="row mb-4" style="padding-left: 44%;">
    <div class="col-12">
      <a routerLink="/producto-uno" class="btn btn-success">Agregar Producto</a>
    </div>
  </div>

  <!-- Mostrar productos -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
        <img [src]="product.image" class="card-img-top" [alt]="product.name">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: ${{ product.price }}</p>
          <a [routerLink]="['/products', product.id]" class="btn btn-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
