<nav class="navbar">
  <div class="navbar-container">
      <div class="left-section">
          <a href="#" class="logo">
              <img src="https://c0.klipartz.com/pngpicture/711/889/gratis-png-ilustracion-de-la-escuela-iconos-de-computadora-de-la-escuela-secundaria-nacional-escuela-secundaria-icono-de-la-escuela-secundaria-thumbnail.png" alt="Logo" class="logo-img" />
              <span class="logo-text">Plataforma Educativa</span>
          </a>
          <ul class="nav-links">
              <li><a routerLink="/home" class="nav-link">Inicio</a></li>
              <li><a routerLink="/nosotros" class="nav-link">Nosotros</a></li>
              <li><a routerLink="/recursos" class="nav-link">Recursos</a></li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/products/1" routerLinkActive="active">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/producto-uno" routerLinkActive="active">Crear Perfil</a>
              </li>
              </ul>
      </div>
      <div class="right-section" style="padding-left: 705px;">
          <button class="btn btn-outline" routerLink="/login">Iniciar Sesión</button>
          <button class="btn btn-primary" routerLink="/registro">Registrarse</button>
      </div>
      <div class="menu-toggle">
          <i class="fas fa-bars"></i>
      </div>
  </div>
</nav>